@import 'reset'; 
@import 'variables'; 
@import 'mixins';

ul li{
  font-size: 20px;
  height: 60px;
  text-align: center;
  padding: 10px 10px;
  box-shadow: 1px 2px 3px #292929;
  border-radius: 15px;
}
.move-left0{
  position:relative;
  left:0;
  @include transition(0.5s);
}
.move-left-minus-100{
  position:relative;
  left:-100%;
  @include transition(0.5s);
}
.buttn:active{
   font-size: 18px;
   box-shadow: 0px 0px 0px;
}
.page_header{
  margin-top: 20px;
  font-size: 2em;
  overflow-x: auto;
  text-align: center;
}
.menu-header{
  height:200px;
  padding:40px 10px 0;
}
.menu-header .name-icn{    
   display: inline-block;
   border: $clk-brdr-clr;
   @include brdr-radius(150px);
   width: 56px;
   height: 56px;
   text-align: center;
   padding-top: 10px;
   font-weight:bold;
  }
.menu-header span + p{
  display:inline-block;
}
.over-lay{
  background:$bdy-bcg;
  @include overlayCustom(80%);
}
.over-lay-before{
  content:'';
  @include overlayCustom(100%);
  z-index:100;
  background: rgba(0, 0, 0, 0.3);
}
.z-index101{
  z-index:101;
}
input,button{
  outline:none;
  font-family: inherit;
  @include defaultToCustom();
}
input{
  box-shadow: 1px 2px 3px #292929;
  border-bottom: 1px solid rgba(41, 41, 41, 0.06);
  border-radius: 5px;
}
button{
  letter-spacing: inherit;
  box-shadow: 1px 2px 3px #292929;
  border-radius: 5px;
}
.clk{
  height:$clk-hgt-wdth;
  width:$clk-hgt-wdth;
  margin:auto;
  border:$clk-brdr-clr;
  @include brdr-radius(300px);
}
.vrtcl-center{
  position:absolute;
  margin:auto;
  height:400px;
  top:0;
  bottom:0;
  right:0;
  left:0;
}
.clearfix::after{
  content: " "; 
   visibility: hidden;
   display:block;
   height: 0;
   clear: both;
}
.dsp-non{
  display:none;
}
.icn{
  width:$icn-wdth;
  height:$icn-hgt;
}
.clk > section{
  font-size:$bg-fnt;
  position: absolute;
  width: 80%;
  top: 100px;
  text-align: center;
}
.notify{
  position:absolute;
  width:100%;
  min-height:50px;
  text-align:center;
  background:$bdy-bcg;
  @include transition(0.5s);  
}
.notify-top{
  padding-top:20px;
  top:0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.notify-btm{
  bottom:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 5px;
}
.play{
  @extend .icn;
  float:left;
  background-image:url(../images/play.png);
  background-repeat:no-repeat;
  background-position: center center;
}
.pause{
  @extend .icn;
  
}
.cancel{
  float:right;
  display:inline-block;
  @extend .icn;
  background-image:url(../images/cancel.png);
  background-repeat:no-repeat;
  background-position: center center;
}
.icn-container{
  width:$clk-hgt-wdth;
  margin:auto;
  text-align:center;
}
.mrgnbtm5px{
  margin-bottom:5px;
}
.btm-neg-100{
  bottom:-100%;
}
.top-neg-100{
  top:-100%;
}
.fnt20{
  font-size:20px;
}
.fnt15{
  font-size:15px;
}
