<!DOCTYPE html>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<html>
	<head>
		<!--
		Customize this policy to fit your own app's needs. For more guidance, see:
		https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
		Some notes:
		* gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
		* https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
		* Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
		* Enable inline JS: add 'unsafe-inline' to default-src
		-->
		<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
		<meta name="format-detection" content="telephone=no">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
		<link rel="stylesheet" type="text/css" href="assets/css/pomodoro.css">
		<script src="cordova.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
		<script src='lib/angular.min.js'></script>
		<script src='lib/angular-route.min.js'></script>
		<script src='lib/angular-route.min.js'></script>
		<title>Pomodoro</title>
	</head>
	<body ng-controller='mainController as MAIN'>
		<div ng-class="{'top-neg-100':!static_text}" class="notify notify-top">
			<label>{{static_text}}</label>
		</div>
		<div ng-class="MAIN.checkingMenu()" ng-include="'shared/views/menu.html'"  
		ng-click="MAIN.menuClose($event)"></div>
		<header ng-class="{'dsp-non':static_text}" class="page_header">
			{{page_title}}
		</header>
		<main ng-view></main>
		<div ng-class="{'btm-neg-100':!interacted_text}" class="notify notify-btm">
			<label ng-class="{'dsp-non':button_text==='Go'}">{{interacted_text}}</label>
			<label ng-class="{'dsp-non':button_text!=='Go'}">
				{{interacted_text}}
			<input ng-model="username">
			</label>
			<button ng-click="MAIN.spellUserName(username,button_text)" class="mrgnbtm5px">
				{{button_text}}
			</button>
		</div>
		<script src='app.config.js'></script>
		<script src='main.controller.js'></script>
		<script src='components/main-page/main.page.controller.js'></script>
		<script src='shared/app.data.factory.js'></script>
		<script src='shared/app.constants.js'></script>
	</body>
</html>
