<div class="over-lay-before" id="menu" ng-if='MAIN.menu_block'></div>
<div class="over-lay z-index101">
	<article>
		<h4 class="menu-header">
			<span class="name-icn">S</span>
			<p>Shashikanth</p>
			<span class="fnt15">Nature :</span>
			<p class="fnt15">Procastinator</p>
		</h4>
		<ul>
			<li class="buttn">Session</li>
			<li class="buttn">Short break</li>
			<li class="buttn">Long break</li>
			<li class="buttn">Voice rate</li>
			<li class="buttn">What is Pomodoro</li>
		</ul>
		</article>
	</div>